#Slider { 
    height: 70% ;
    
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  padding-left: 15%;
}

.swiper-slide img {
  width: 76%;
  border-radius: 20px;
}
